.container {
    max-width: 800px;
    border-radius: 20px;
    height: 100%;
}

.chat-window {
    height: 40vh;
    overflow: auto;
}

li {
    border-radius: 50px;
}

.btn {
    background: #999;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}

.btn:hover {
    background: rgba(3, 121, 22, 0.61);
    outline: none !important;
}

.username {
    font-weight: bold;
    color: rgb(5, 150, 29)
}

.time {
    font-size: 0.7em;
    color: #999;
}

